.App {
	width: 100vw;
	min-height: 100vh;
	/* min-height: 68rem; */

	margin: 0 auto;
	text-align: center;

	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;

	div#body-container {
		width: 100%;
		height: 100%;
		min-height: 90vh;
		max-width: 37.5rem;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		/* gap: 10vh; */

		padding: 1.5rem;
	}
}
